USE [master]
GO
/****** Object:  Database [QLPhongGym]    Script Date: 6/3/2023 9:37:58 PM ******/
CREATE DATABASE [QLPhongGym]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPhongGym', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLPhongGym.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPhongGym_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLPhongGym_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPhongGym].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPhongGym]
GO
/****** Object:  User [102210262]    Script Date: 6/3/2023 9:37:58 PM ******/
CREATE USER [102210262] FOR LOGIN [102210262] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[IDCa] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[IDCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKiGoiTap]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKiGoiTap](
	[IDDK] [int] IDENTITY(1,1) NOT NULL,
	[IDKH] [int] NULL,
	[IDGT] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[NgayDangKiGT] [date] NULL,
	[NgayKetThucGT] [date] NULL,
	[NgayKetThucBaoLuu] [date] NULL,
	[SoNgayConLai] [int] NULL,
	[BaoLuu] [bit] NULL,
 CONSTRAINT [PK_DangKiKhachHang] PRIMARY KEY CLUSTERED 
(
	[IDDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [DKGT_UK] UNIQUE NONCLUSTERED 
(
	[IDKH] ASC,
	[IDGT] ASC,
	[NgayDangKiGT] ASC,
	[NgayKetThucGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiTap]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTap](
	[IDGT] [int] IDENTITY(1,1) NOT NULL,
	[NameGT] [nvarchar](100) NULL,
	[Price] [float] NULL,
	[ThoiHanTapTheoThang] [int] NULL,
 CONSTRAINT [PK_GoiTap] PRIMARY KEY CLUSTERED 
(
	[IDGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHD] [int] IDENTITY(1,1) NOT NULL,
	[IDKH] [int] NOT NULL,
	[IDGT] [int] NULL,
	[IDLT] [int] NULL,
	[NgayThanhToan] [date] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_HoaDon_1] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViecTrongTuan]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViecTrongTuan](
	[IDLLV] [int] IDENTITY(1,1) NOT NULL,
	[IDHLV] [int] NULL,
	[IDCa] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[NgayLam] [date] NULL,
 CONSTRAINT [PK_LichLamViecHLV] PRIMARY KEY CLUSTERED 
(
	[IDLLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [LLV_UK] UNIQUE NONCLUSTERED 
(
	[IDHLV] ASC,
	[IDCa] ASC,
	[NgayLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThueHLV]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThueHLV](
	[IDLT] [int] IDENTITY(1,1) NOT NULL,
	[IDHLV] [int] NOT NULL,
	[IDCa] [int] NULL,
	[NgayThue] [date] NULL,
	[IDKH] [int] NOT NULL,
 CONSTRAINT [PK_LichThueHLV] PRIMARY KEY CLUSTERED 
(
	[IDLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_LichThueHLV] UNIQUE NONCLUSTERED 
(
	[IDHLV] ASC,
	[IDCa] ASC,
	[NgayThue] ASC,
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[IDQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [varchar](50) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[IDQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[IDTB] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Image] [varchar](max) NULL,
	[SoLuong] [int] NULL,
	[SoLuongHong] [int] NULL,
	[NhaCungCap] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[NamSX] [date] NULL,
 CONSTRAINT [PK_ThietBi] PRIMARY KEY CLUSTERED 
(
	[IDTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK](
	[TenTK] [varchar](50) NOT NULL,
	[IDUser] [int] NULL,
	[MatkhauTK] [varchar](max) NULL,
	[IDQuyen] [int] NOT NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_TK] PRIMARY KEY CLUSTERED 
(
	[TenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IDUsers] [int] IDENTITY(100000,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DateBorn] [date] NULL,
	[Sex] [bit] NULL,
	[CCCD] [varchar](12) NULL,
	[Image] [varchar](max) NULL,
	[Gmail] [varchar](max) NULL,
	[Sdt] [varchar](10) NULL,
	[Address] [nvarchar](max) NULL,
	[BangCap] [nvarchar](max) NULL,
	[NamKinhNghiem] [int] NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IDUsers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKiGoiTap]  WITH CHECK ADD  CONSTRAINT [FK_DangKiGoiTap_GoiTap] FOREIGN KEY([IDGT])
REFERENCES [dbo].[GoiTap] ([IDGT])
GO
ALTER TABLE [dbo].[DangKiGoiTap] CHECK CONSTRAINT [FK_DangKiGoiTap_GoiTap]
GO
ALTER TABLE [dbo].[DangKiGoiTap]  WITH CHECK ADD  CONSTRAINT [FK_DangKiGoiTap_Users] FOREIGN KEY([IDKH])
REFERENCES [dbo].[Users] ([IDUsers])
GO
ALTER TABLE [dbo].[DangKiGoiTap] CHECK CONSTRAINT [FK_DangKiGoiTap_Users]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_GoiTap] FOREIGN KEY([IDGT])
REFERENCES [dbo].[GoiTap] ([IDGT])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_GoiTap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_LichThueHLV] FOREIGN KEY([IDLT])
REFERENCES [dbo].[LichThueHLV] ([IDLT])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_LichThueHLV]
GO
ALTER TABLE [dbo].[LichLamViecTrongTuan]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViecTrongTuan_CaLamViec] FOREIGN KEY([IDCa])
REFERENCES [dbo].[CaLamViec] ([IDCa])
GO
ALTER TABLE [dbo].[LichLamViecTrongTuan] CHECK CONSTRAINT [FK_LichLamViecTrongTuan_CaLamViec]
GO
ALTER TABLE [dbo].[LichLamViecTrongTuan]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViecTrongTuan_Users] FOREIGN KEY([IDHLV])
REFERENCES [dbo].[Users] ([IDUsers])
GO
ALTER TABLE [dbo].[LichLamViecTrongTuan] CHECK CONSTRAINT [FK_LichLamViecTrongTuan_Users]
GO
ALTER TABLE [dbo].[LichThueHLV]  WITH CHECK ADD  CONSTRAINT [FK_LichThueHLV_Users] FOREIGN KEY([IDHLV])
REFERENCES [dbo].[Users] ([IDUsers])
GO
ALTER TABLE [dbo].[LichThueHLV] CHECK CONSTRAINT [FK_LichThueHLV_Users]
GO
ALTER TABLE [dbo].[LichThueHLV]  WITH CHECK ADD  CONSTRAINT [FK_LichThueHLV_Users1] FOREIGN KEY([IDKH])
REFERENCES [dbo].[Users] ([IDUsers])
GO
ALTER TABLE [dbo].[LichThueHLV] CHECK CONSTRAINT [FK_LichThueHLV_Users1]
GO
ALTER TABLE [dbo].[TK]  WITH CHECK ADD  CONSTRAINT [FK_TK_PhanQuyen] FOREIGN KEY([IDQuyen])
REFERENCES [dbo].[PhanQuyen] ([IDQuyen])
GO
ALTER TABLE [dbo].[TK] CHECK CONSTRAINT [FK_TK_PhanQuyen]
GO
ALTER TABLE [dbo].[TK]  WITH CHECK ADD  CONSTRAINT [FK_TK_Users] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([IDUsers])
GO
ALTER TABLE [dbo].[TK] CHECK CONSTRAINT [FK_TK_Users]
GO
/****** Object:  StoredProcedure [dbo].[CatNhatIdentity]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CatNhatIdentity]
@TBName varchar(MAX)
as
dbcc checkident (@TBName, reseed, 0)
GO
/****** Object:  StoredProcedure [dbo].[FindUKByName]    Script Date: 6/3/2023 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[FindUKByName]
@name varchar(MAX)
as
select CCU.CONSTRAINT_NAME, CCU.COLUMN_NAME
from INFORMATION_SCHEMA.TABLE_CONSTRAINTS as TCons
inner join INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE as CCU
    on      TCons.CONSTRAINT_CATALOG = CCU.CONSTRAINT_CATALOG
        and TCons.CONSTRAINT_SCHEMA = CCU.CONSTRAINT_SCHEMA
        and TCons.CONSTRAINT_NAME = CCU.CONSTRAINT_NAME
where      TCons.CONSTRAINT_TYPE = 'UNIQUE'
      and  TCons.TABLE_NAME = @name
GO
USE [master]
GO
